html,body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 15px;
    font-family: "Outfit";
}
main {
    background-color: white;
    border-radius: 20px;
    padding: 16px;
    width:288px;
    padding-bottom: 40px;
}

img{
    border-radius: 10px;
}
h2{
    margin: 0;
    margin-top: 24px;
    text-align: center;
    text-wrap: balance;
    color: hsl(218, 44%, 22%);
    font-weight:800;
}
p{
    text-align: center;
    text-wrap: wrap;
    color: hsl(216, 15%, 48%)
}